---
import SocialLinks from "./SocialLinks.astro";
const today = new Date();
---

<footer class="h-[22vh] p-8 text-center">
	<div class="mb-2">&copy; {today.getFullYear()} Cameron WiseOwl.</div>
	<div class="text-sm">hello [at] camwiseowl.com</div>
	<SocialLinks />
</footer>
<style>
	footer {
		background: linear-gradient(var(--grey-gradient)) no-repeat;
		color: rgb(var(--grey));
	}
</style>
