---
import LinkedIn from "./icons/LinkedIn.astro";
import Mastodon from "./icons/Mastodon.astro";
import Github from "./icons/Github.astro";
import HeaderLink from "./HeaderLink.astro";
---

<div class="social-links flex justify-center">
	<HeaderLink rel="me" href="https://mastodon.social/@CamWiseOwl" target="_blank" screenReader={"Follow me on Mastodon"}><Mastodon /></HeaderLink>
	<HeaderLink href="https://github.com/CamWiseOwl" target="_blank" screenReader="Go to my GitHub"><Github /></HeaderLink>
	<HeaderLink href="https://www.linkedin.com/in/camwiseowl/" target="_blank" screenReader="Visit LinkedIn"><LinkedIn /></HeaderLink>
</div>
